* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-user-drag: none;
}

html, body {
    color: white;
    background-color: rgb(134, 141, 236);
}

h1 {
    user-select: none;
}

#contents {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#inputBox{
    background-color: rgb(134, 141, 236);
    color: white;
    border: solid 2px white;
}

#submitBtn{
    background-color: rgb(134, 141, 236);
    color: white;
    border: solid 0px white;
}


#submit:hover {
    background-color: rgb(134, 141, 236);
    color: white;
    border: solid 0px white;
    cursor: pointer;
}

#answer {
    margin: 20px;
    display: none;
}

#pageText {
    display: none;
    margin-left: 110px;
    margin-right: 110px;
    justify-content: center;
    text-align: center;
}

#hollyBlueButterflyImg {
    margin: 40px;
    height: 300px;
    width: 300px; 
}

#springWhiteButterflyImg {
    margin: 80px;
    height: 300px;
    width: 300px;
}
